$yellow:#fffff0;
$green:#42f551;
$red:#e3150e;

@mixin margenes($top, $bottom){
	margin-bottom: $bottom;
	margin-top: $top;

}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);

}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;

}

.footer-address-icon{
	padding-right: 20px;
}