.jumbotron {
  background-color: #f2fa0f;
  color: black;
  margin-bottom: 0px;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f2fa0f;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 20px;
}
