@yellow: #f2fa0f;

.margenes(@top: 0px, @bottom: 0px){
	margin-bottom: @bottom;
	margin-top: @top;

}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
   }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 20px; }
